.App {
  height: 100vh;
}

.HomeButton {
  background-color: #1e3239;
  border: none;
  color: white;
  padding: 0.3rem 1.4rem;
  border-radius: 0.7rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
}
.HomeButton:hover {
  color: #dee5ff !important;
}

.chat-bubble {
  border: none !important;
}

.sidebar-icon {
  @apply text-lg sm:text-2xl flex items-center justify-center !important;
  padding: 0px 0.5rem;
  color: white;
}

.sidebar-button {
  padding: 4px 0px !important;
  background-color: #18282e !important;
  /* border-color:  !important; */
  border: none !important;
  height: 2rem;
}
.sidebar-button:hover {
  background-color: #dee5ff !important;
}
.active {
  background-color: #dee5ff !important;
}
.feedback-button {
  border: none;
  padding: 2px 4px;
  background-color: white;
  transition: font-size 0.2s;
}

.feedback-button:hover {
  font-size: 1.5rem;
}
