.App {
  height: 100vh;
}

.HomeButton {
  background-color: #1e3239;
  border: none;
  color: white;
  padding: 0.3rem 1.4rem;
  border-radius: 0.7rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
}

.HomeButton:hover {
  @apply text-blue-600;
  background-color: #1e3239;
  border: none;
  padding: 0.3rem 1.4rem;
  border-radius: 0.7rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
}

.HomeButton:hover {
  color: #dee5ff !important;
}

.chat-bubble {
  border: none !important;
}

.sidebar-icon {
  @apply text-xl sm:text-2xl flex items-center justify-center !important;
  padding: 0px 0.5rem;
  color: white;
}

.sidebar-button {
  @apply w-16 sm:w-52 flex justify-center sm:justify-between items-center h-auto mb-1 py-2 sm:py-1 px-2;
  background-color: rgb(30, 50, 57) !important;
  color: white;
  /* border-color:  !important; */
  border: none !important;
}
.sidebar-button:hover {
  cursor: pointer;
  color: black;
  background-color: #dee5ff !important;
}
.active {
  background-color: #dee5ff !important;
}
.feedback-button {
  border: none;
  padding: 2px 4px;
  background-color: white;
  transition: font-size 0.2s;
}

.feedback-button:hover {
  font-size: 1.5rem;
}

.ant-layout-sider {
  position: relative;
  min-width: 0;
  background: rgb(30, 50, 57) !important;
  transition: all 0.2s;
}

.alert {
  /*height: 100vh;*/
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}
.close-button {
  padding: 0 !important;
  width: 0 !important;
  transition: width 0s, opacity 1s linear;
  display: none !important;
}
.button-avatar:hover .close-button {
  display: block !important;
  padding: 8px !important;
  width: auto !important;
  height: auto;
}
.button-avatar {
  overflow: hidden;
}

.fact-card:hover {
  background-color: #5491a5 !important;
  border: 2px solid #5491a5;
}

.fact-card {
  background-color: #375e6b !important;
}
#chat-area {
  height: 100% !important;
}

.ant-layout-sider-children {
  @apply w-full;
}

.user-item:hover {
  background-color: #5491a5 !important;
}
.user-item {
  background-color: #375e6b !important;
}
.animation-scroll {
  animation: scroll 7s linear 0s infinite;
}

.card-input {
  background-color: #375e6b;
  color: white;
}

.fact-card:hover .card-input {
  background-color: #5491a5;
  color: white;
}

.card-input:focus {
  border: 1px solid white;
  color: white;
}
/* Search Bar */

.search-bar input,
.search-btn,
.search-btn:before,
.search-btn:after {
  transition: all 0.25s ease-out;
}
.search-bar input,
.search-btn {
  width: 3em;
  height: 3em;
}
.search-bar input:invalid:not(:focus),
.search-btn {
  cursor: pointer;
}
.search-bar,
.search-bar input:focus,
.search-bar input:valid {
  width: 100%;
}
.search-bar input:focus,
.search-bar input:not(:focus) + .search-btn:focus {
  outline: transparent;
}
.search-bar {
  margin: auto;
  padding: 1.5em;
  justify-content: center;
  max-width: 30em;
}
.search-bar input {
  background: transparent;
  border-radius: 1.5em;
  box-shadow: 0 0 0 0.4em #171717 inset;
  padding: 0.75em;
  transform: translate(0.5em, 0.5em) scale(0.5);
  transform-origin: 100% 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.search-bar input::-webkit-search-decoration {
  -webkit-appearance: none;
}
.search-bar input:focus,
.search-bar input:valid {
  background: #fff;
  border-radius: 0.375em 0 0 0.375em;
  box-shadow: 0 0 0 0.1em #d9d9d9 inset;
  transform: scale(1);
}
.search-btn {
  background: #171717;
  border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
  padding: 0.75em;
  position: relative;
  transform: translate(0.25em, 0.25em) rotate(45deg) scale(0.25, 0.125);
  transform-origin: 0 50%;
}
.search-btn:before,
.search-btn:after {
  content: '';
  display: block;
  opacity: 0;
  position: absolute;
}
.search-btn:before {
  border-radius: 50%;
  box-shadow: 0 0 0 0.2em #f1f1f1 inset;
  top: 0.75em;
  left: 0.75em;
  width: 1.2em;
  height: 1.2em;
}
.search-btn:after {
  background: #f1f1f1;
  border-radius: 0 0.25em 0.25em 0;
  top: 51%;
  left: 51%;
  width: 0.75em;
  height: 0.25em;
  transform: translate(0.2em, 0) rotate(45deg);
  transform-origin: 0 50%;
}
.search-btn span {
  display: inline-block;
  overflow: hidden;
  width: 1px;
  height: 1px;
}

/* Active state */
.search-bar input:focus + .search-btn,
.search-bar input:valid + .search-btn {
  background: #2762f3;
  border-radius: 0 0.375em 0.375em 0;
  transform: scale(1);
}
.search-bar input:focus + .search-btn:before,
.search-bar input:focus + .search-btn:after,
.search-bar input:valid + .search-btn:before,
.search-bar input:valid + .search-btn:after {
  opacity: 1;
}
.search-bar input:focus + .search-btn:hover,
.search-bar input:valid + .search-btn:hover,
.search-bar input:valid:not(:focus) + .search-btn:focus {
  background: #0c48db;
}
.search-bar input:focus + .search-btn:active,
.search-bar input:valid + .search-btn:active {
  transform: translateY(1px);
}

@media screen and (prefers-color-scheme: dark) {
  body,
  input {
    color: #f1f1f1;
  }
  body {
    background: #171717;
  }
  .search-bar input {
    box-shadow: 0 0 0 0.4em #f1f1f1 inset;
  }
  .search-bar input:focus,
  .search-bar input:valid {
    background: #3d3d3d;
    box-shadow: 0 0 0 0.1em #3d3d3d inset;
  }
  .search-btn {
    background: #f1f1f1;
  }
}
